<% include ../partials/header %>
  <h1 class="center-align"><%= book.title.toUpperCase() %></h1>
  <div class="center-align">
    <a class="waves-effect waves-light btn" href="/recipe_books/<%= book._id %>/user_recipes">See My Recipes</a>
    <a class="waves-effect waves-light btn" href="/recipe_books/<%= book._id %>/f2f_recipes">See F2F Recipes</a>
    <a class="waves-effect waves-light btn" href="/recipe_books/<%= book._id %>/user_recipes/new">Add Your Own Recipe</a>


  <h2>Search For A Recipe</h2>
  <form action="/search_results" method="get">
    <input type="hidden" name="recipeBook" value="<%= book.id %>">
    <input type="search" name="search" placeholder="Find A Recipe">
    <button class="waves-effect waves-light btn" type="submit" name="name">Submit</button>
  </form>
  <br>
  <a href="/">Back To Recipe Books</a>
  </div>
<% include ../partials/footer %>
