<% include ../partials/header %>
  <h1>Edit <%= recipe.title %></h1>
  <form action="/recipe_books/<%= recipe.book._id %>/user_recipes/<%= recipe.id %>?_method=PUT" method="POST">
    <div>
      <label>Recipe Title:
        <input type="text" name="title" value="<%= recipe.title %>">
      </label>
    </div>
    <div>
      <label>Image URL:
        <input type="text" name="imageUrl" value="<%= recipe.imageUrl %>">
      </label>
    </div>
    <div>
      <label>Ingredients:
        <textarea name="ingredients" rows="8" cols="40" ><%= recipe.ingredients %></textarea>
      </label>
    </div>
    <div>
      <label>Directions:
      </label>
      <textarea name="directions" rows="8" cols="40" ><%= recipe.directions %></textarea>
    </div>
    <button class="waves-effect waves-light btn" type="submit" name="submit">Update Recipe</button>
  </form>
  <br>
  <a href="/recipe_books/<%= recipe.book.id %>/user_recipes/<%= recipe.id %>">Back To <%= recipe.title %></a>
  <br>
  <a href="/">Back To Recipe Books</a>
<% include ../partials/footer %>
