<% include ../partials/header %>
    <h1>My Recipes In <%= viewHelpers.capitalize(recipeBook.title) %> Book</h1>
      <% if(recipes.length === 0) { %>
        <p>
          No recipes.<a href="/recipe_books/<%= recipeBook.id %>"> Click Here</a>  to start adding recipes.
        </p>
      <% } %>
      <% for(var i = 0; i < recipes.length; i++) { %>
        <ul class="collection">
          <li class="collection-item avatar">
            <img src="<% if (recipes[i].imageUrl ) { %><%= recipes[i].imageUrl%><% } else { %> https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSCJg_2gj-Fs7cPjws0jhkwcwqsvUdvID2Pn93E4W0IY_HTdudK<% } %>" alt="<%= recipes[i].title %>" class="pics">
            <div class="recipe-search-result">
              <span class="title"><a href="/recipe_books/<%= recipeBook.id %>/user_recipes/<%= recipes[i].id %>"><% if(recipes[i].title) { %><%= recipes[i].title %> <% } else { %><%= "No Title" %><% } %></a></span>
            </div>
          </li>
        </ul>
      <% } %>
      <a href="/recipe_books/<%= recipeBook.id %>">Back To <%= viewHelpers.capitalize(recipeBook.title) %> Book</a><br>
      <a href="/">Back To Recipe Books</a>
  <% include ../partials/footer %>
